*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(145, 144, 144);
}


.profilePic{
    display: block;
    height: 100px;
    width: 100px;
    border: 2px #696666bd;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.kwams{
    display: block;
    margin-left: 45%;
    margin-right: 50%;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}
.intro{
    display: block;
    margin-left: 35%;
    color: #302c2cbd;
    font-size: 20px;
}

.instagram{
    margin-top: 40px;
    margin-left: 35%;
    margin-right: 3%;
}
.facebook{
    margin-left: 3%;
    margin-right: 3%;
}
.pic{
    display: block;
    margin-left: 0.5%;
    border: 1px solid;
    width: 10%;
    height: 9%;
    border-radius: 1rem;
    float: left;
}

.text {
   border: 1px solid whitesmoke;
   border-radius: 20px;
   font-size: 1.5rem;
   margin-top: 5%;
   margin-left: 30%;
   margin-right: 6%;
   padding: 1.5rem;
   width: 50%;
   background-color: whitesmoke;
}

